<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
    <div class="rashi_sign_box wow fadeInDown animated ">
      <div class="sign_box_img">
        <%= image_tag("icon10.png", alt: "icona") %>
      </div>
    </div>
  </div>
</div>
<%= render 'index' %>
